.advantage {
  &__wrapper {
    display: flex;
    margin-bottom: 46px;
  }

  &__img-block {
    flex: 0 0 48%;
    height: auto;
    position: relative;
    margin-left: -23px;
    background-image: url(../../img/landing/photo-cover-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 47px 34px 42px 67px;
    img {
      height: 100%;
      object-fit: cover;
    }
    picture {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      border: 14px solid #f5f7fa;
      // height: 509px;
      // width: 468px;
      // object-fit: cover;
      // position: absolute;
      // top: 47px;
      // left: 52px;
    }
  }
  &__description {
    flex: 1 1 auto;
    padding: 32px 20px 0px 65px;
  }

  &__description-title {
    font-size: 48px;
    color: #ff3c46;
    width: 390px;
    margin-bottom: 32px;
    position: relative;
    line-height: 50px;
    span {
      color: #1e2d4b;
    }
    &::after {
      content: url(../../img/landing/line-dashed.png);
      position: absolute;
      bottom: -28px;
      left: 0;
    }
  }

  &__description-items {
  }

  &__description-item {
    position: relative;
    font-size: 20px;
    color: #1e2d4b;
    padding-left: 32px;
    line-height: 34px;
    &::before {
      content: url(../../img/landing/check-advantage.svg);
      position: absolute;
      top: 0px;
      left: 0;
      width: 15px;
      height: 15px;
    }
  }
  &__description-text {
    font-size: 20px;
    color: #000;
    line-height: 24px;
  }
}
