.hostel {

  &__wrapper {
    height: 625px;
  }
  &__body {
    display: flex;
    position: relative;
    z-index: 1;
  }
  &__title-block {
    text-align: center;
    margin-bottom: 20px;
  }

  &__title {
    display: inline-block;
    font-size: 48px;
    font-weight: 700;
    color: #1e2d4b;
    position: relative;
    margin-bottom: 31px;
    margin-right: 16px;
    &::before {
      content: url(../../img/landing/line-dashed.png);
      position: absolute;
      bottom: -29px;
      left: 100px;
    }
    &::after {
      content: url(../../img/landing/hostel-on.svg);
      position: absolute;
      bottom: 27px;
      right: -44px;
      width: 30px;
      height: 30px;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 400;
    color: #1e2d4b;
  }

  &__content {
    flex: 0 0 55%;
    width: 50%;
    z-index: 0;
  }

  &__slider-wrapper {
    picture {
      height: 100%;
      width: auto;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      left: 0;
      bottom: 0;
      border: 14px solid #f5f7fa;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }

  &__description-block {
    padding: 20px 0px 10px 26px;
  }

  &__description-item {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    &:first-child {
      height: 88px;
      background-color: #f6f7fa;
      padding: 20px 50px 20px 30px;
      margin-bottom: 20px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background-color: #455fed;
      }
      &::after {
        content: url(../../img/landing/location-hostes.svg);
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60px;
        height: 70px;
      }
    }
    &:nth-child(2) {
      margin-bottom: 12px;
    }
  }
}


//slider swiper
.hostel .swiper-wrapper {
  width: 100%;
  height: 513px;
  top: 0;
  left: 0;
  margin: 0;
}
.hostel .swiper-container {
  width: 100%;
  margin: 0;
}

.hostel .gallery-top .swiper-slide {
  background-size: cover;
  background-position: center;
  height: 370px;
  overflow: hidden;
}

.hostel .swiper-slide {
  width: 115px;
  cursor: pointer;
}
.swiper-container.gallery-thumbs .swiper-slide {
  opacity: .5;
}
.swiper-container.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.hostel .gallery-top {
  flex: 0 0 458px;
  width: 458px;
  height: 461px;
  position: relative;
}
.hostel .hostel__slider-wrapper {
  flex: 0 0 auto;
  width: 522px;
  height: 461px;
  position: relative;
  background-image: url(../../img/landing/photo-cover-hostel.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 35px 48px 44px 16px;
  &::before {
    content: url(../../img/landing/hostel-frame.png);
    position: absolute;
    bottom: 53px;
    left: -15px;
    z-index: 10;
    pointer-events: none;
  }
}

.swiper-container-pointer-events.swiper-container-vertical {
  left: 82%;
    top: -444px;
    width: 115px;
    height: 384px;
  padding: 71px 0 69px 0;
}
.swiper-container.gallery-thumbs .swiper-slide:not(:first-child) {
  margin-top: 0px;
}
.swiper-container.gallery-thumbs .swiper-wrapper {
  top: 0;
  left: 0;
  height: 100%;
}

.hostel .swiper-button-next-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-color: rgb(154, 168, 245);
  border-style: solid;
  background-color: rgb(246, 247, 253);
  box-shadow: 0.418px 3.978px 16px 0px rgba(154, 168, 245, 0.42);
  width: 113px;
  height: 62px;
  right: -0.2%;
  top: 344px;
  transition: opacity .3s ease;
  &:hover {
    opacity: .8;
  }
  &::after {
    content: url(../../img/landing/down-arrow.svg);
    position: absolute;
    width: 27px;
    height: 50px;
  }
}
.hostel .swiper-button-prev-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-color: rgb(154, 168, 245);
  border-style: solid;
  background-color: rgb(246, 247, 253);
  box-shadow: 0.418px 3.978px 16px 0px rgba(154, 168, 245, 0.42);
  width: 113px;
  height: 62px;
  left: 1.3%;
    top: 22px;
  transition: opacity .3s ease;
  &:hover {
    opacity: .8;
  }
  &::after {
    content: url(../../img/landing/up-arrow.svg);
    position: absolute;
    width: 27px;
    height: 44px;
  }
}
.swiper-container.gallery-thumbs .swiper-slide img {
  border: 7px solid #f5f7fa;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.swiper-button-prev.swiper-button-white.swiper-button-disabled {
  opacity: .5;
}
.hostel .swiper-button-prev-gallery:hover,
.hostel .swiper-button-next-gallery:hover {
    opacity: 1;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  filter: grayscale(100%);
}