<footer class="footer footer-landing">
	<div class="footer__wrapper container">
    <div class="footer__top">
      <a href="#/" class="footer__logo">
        <img src="../img/logo-white.svg" alt="Logo">
      </a>
      <div class="footer__links">
        <a href="#/" class="footer__link">Добавить ВУЗ</a>
        <a href="#/" class="footer__link">Размещение рекламы</a>
        <a href="#/" class="footer__link">Обратная связь</a>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__item">© 2021 Учеба Гоу</div>
      <div class="footer__item">Информация, предоставленная на сайте носит исключительно информационный характер и не является <a href="#/" class="footer__item-line">публичной офертой</a> (ст. 437 ГК РФ)</div>
      <a href="#/" class="footer__item">
        <span class="footer__item-text">Дизайн</span>
        <img src="../img/logo-design.png" alt="Logo design">
      </a>
    </div>
  </div>
</footer>
