@import "vars";
@import "fonts";
@import "settings";
@import "./components/selectric";
@import "./components/header";
@import "./components/footer";
@import "./components/menu";
@import "./components/search";
@import "./components/division";
@import "./components/bachelor";
@import "./components/second";
@import "./components/magistracy";
@import "./components/graduate";
@import "./components/mba";
@import "./components/courses";
@import "./components/medicine";
@import "./components/residency";
@import "./components/store";
@import "./components/results";
@import "./components/pagination";
@import "./components/search-courses";
@import "./components/result-courses";
@import "./components/landing";
@import "./components/advantage";
@import "./components/university";
@import "./components/hostel";
@import "./components/comments";
@import "./components/contacts";



.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
body.scroll {
  overflow: hidden;
}
.line {
  width: 100%;
  height: 12px;
  background-color: #f3f5ff;
  margin: 40px 0px 45px 0px;
}
.hide {
  display: block!important;
}
.mobile-bottom-menu {
  display: block;
}
.mobile-bottom-menu.mobile-bottom-menu--division {
  display: none;
}
.mobile-bottom-menu--landing {
  display: none;
}
.discont {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 14px;
}
.filter-price {
  display: none;
}

@import "./media";
